body {
  background-color: #f4f4f9;
}

.container {
  margin: 20px auto;
  max-width: 400px;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 24px;
}

form {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  width: 70%;
  margin-right: 10px;
}

button {
  padding: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

#list-wrap li strong {
  display: block;
}

#list-wrap li div {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 10px 0;
  padding: 10px 0;
  border-top: 1px solid #000;
}

#list-wrap li p {
  margin: 0;
  flex-grow: 1;
}

#list-wrap li button {
  flex-grow: 1;
  max-width: 50px;
}

li button {
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  height: 40px;
  cursor: pointer;
}
